*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
local.properties
/cpu-perfetto-20220823T122855.trace
/cpu-perfetto-20220828T132534.trace
/cpu-perfetto-20220908T212318.trace
