*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/cpu-perfetto-20220823T122855.trace
/cpu-perfetto-20220828T132534.trace
/cpu-perfetto-20220908T212318.trace
